/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F0E2C8;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-left ul {
    list-style-type: none;
}

.nav-left ul li {
    display: inline;
    margin: 0 15px;
}

.nav-left ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

.nav-left ul li a:hover {
    color: #f8b400;
}

/* Search bar styling */
.nav-right input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f8b400;
    outline: none;
}

/* Header with title and description */
.intro {
    text-align: center;
    padding-top: 40px;
    background-color: #e0f7fa;
    align-items: flex-end;

}
.intro{
display: flex;
justify-content: center;
padding-top: 0px;
background-color: #F0E2C8;
gap: 20px;

}

.intro h1 {
align-self: center;
font-size: 2.5em;
color: #333;
font-family: fantasy;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }

.Les_debut{
    display: flex;
    img{
        width: 500px;
        height: 400px;
        order: 1;
        padding-top: 5%;
    }
  }

  .texte{
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%;
    h2{
        font-family:fantasy;
        font-size: x-large;
        
    }
    p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:x-large;
    }
  }